.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}
